# Copy ke .env (lokal) dan ke Environment Variables di Vercel/Netlify
# Dapat dari Firebase Console > Project Settings > General > Your apps > Web app
VITE_FB_API_KEY=
VITE_FB_AUTH_DOMAIN=
VITE_FB_PROJECT_ID=
VITE_FB_APP_ID=
